<div class="page">
    <div class="container-fluid">
        <div class="head-text text-center h2">
            <p class="fw-bold head">HAVE SOME QUESTIONS?</p>
            <p class="lead text-white">
                <fa-icon [icon]='globe'></fa-icon> INDIA : Plot NO.156 East Road, Chennai, 123098
            </p>
        </div>
        <div class="row p-5">
            <div class="col-lg-4  mx-auto">
                <img src="../../assets/undraw_chat_re_re1u.svg" class="w-100">
            </div>
            <div class="col-lg-4  mx-auto">
                <form class="form ">
                    <div class="mb-3">
                        <input type="text" name="" id="" class="form-control rounded-pill" placeholder="First Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="" id="" class="form-control rounded-pill" placeholder="Last Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="" id="" class="form-control rounded-pill"
                            placeholder="What's your e-mail?">
                    </div>

                    <textarea name="" id="" rows="4" class="form-control rounded"
                        placeholder="Your questions..."></textarea>

                    <button class="btn rounded-pill w-100 fw-bold mt-3">SEND MESSAGE</button>
                </form>
            </div>
        </div>

    </div>
</div>