.home{
    height: 800px;
    background-image: url(../../assets/subtle-stripes.svg);
}
.home-head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}
.home-col{
    background-color: rgba(63, 60, 60, 0.26);
    border-top-left-radius: 2rem;
    margin-top: 7rem;
}


